@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.nav__menu--color {
  background-color: rgba(0, 0, 0, 0.301); }

.top-nav-collapse {
  background-color: rgba(255, 255, 255, 0.774);
  transition: 1.5s; }

.nav__logo {
  width: 10rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8)); }

.nav__logo:hover {
  color: #800e4ce0; }

@media (min-width: 1000px) {
  .nav__logo {
    font-size: 1.5rem; }
  .nav__logo:hover {
    transform: scale(1.03);
    transition: .8s; } }

.nav__items {
  font-size: 1.4rem;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  color: #c41d79e0;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5); }

.nav__boton {
  background-color: #c41d79e0;
  border: 1px solid black; }

.nav__boton:hover {
  background-color: #800e4ce0;
  transform: scale(1.1);
  transition: 1s; }

#nav__spotify {
  color: #c41d79e0; }

#nav__spotify:hover {
  color: #1DB954; }

#nav__instagram {
  color: #c41d79e0; }

#nav__instagram:hover {
  color: #c13584; }

#navbarNav .nav__items--estilos {
  color: #c41d79e0; }

#navbarNav .nav__items--estilos:hover {
  color: white;
  transition: .7s; }

.icono-footer {
  color: white;
  font-size: 2.5rem; }

.icono-facebook:hover {
  color: #3b5998;
  transform: scale(1.2);
  transition: .3s; }

.icono-spotify:hover {
  color: #1DB954;
  transform: scale(1.2);
  transition: .3s; }

.icono-instagram:hover {
  color: #c13584;
  transform: scale(1.2);
  transition: .3s; }

.icono-twitter:hover {
  color: #00acee;
  transform: scale(1.2);
  transition: .3s; }

.icono-youtube:hover {
  color: #c4302b;
  transform: scale(1.2);
  transition: .3s; }

#footer {
  font-size: 1.1rem; }
  #footer a {
    color: whitesmoke;
    font-family: "Inconsolata", sans-serif; }
  #footer a:hover {
    color: white;
    letter-spacing: .07rem;
    transition: all .3s; }

.footer--estilo {
  background-color: #800e4ce0; }

.seccion__noticias {
  margin-bottom: 3rem; }
  .seccion__noticias .row {
    max-width: 100rem;
    margin: 50px auto 0; }
  @media (min-width: 700px) {
    .seccion__noticias .row {
      max-width: 100rem;
      margin: 0 3.5rem; } }
  .seccion__noticias .card {
    margin-bottom: 2rem;
    width: 100%; }
    .seccion__noticias .card .menu-content li {
      display: inline-block; }
    .seccion__noticias .card .menu-content a {
      color: #fff; }
    .seccion__noticias .card .menu-content span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0); }
    .seccion__noticias .card .noticia__carta--1, .seccion__noticias .card .noticia__carta--2, .seccion__noticias .card .noticia__carta--3 {
      background-color: #fff;
      min-height: 21rem;
      position: relative;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2); }
      .seccion__noticias .card .noticia__carta--1:hover .data, .seccion__noticias .card .noticia__carta--2:hover .data, .seccion__noticias .card .noticia__carta--3:hover .data {
        transform: translateY(0); }
    .seccion__noticias .card .data {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(7.5rem);
      transition: transform 0.3s; }
      .seccion__noticias .card .data .content {
        padding: 1em;
        position: relative;
        z-index: 1; }
    .seccion__noticias .card .author {
      font-size: 12px; }
    .seccion__noticias .card .title {
      margin-top: 10px; }
    .seccion__noticias .card .text {
      height: 70px;
      margin: 0; }
    .seccion__noticias .card input[type='checkbox'] {
      display: none; }
    .seccion__noticias .card input[type='checkbox']:checked + .menu-content {
      transform: translateY(-80px); }
  .seccion__noticias .noticia__carta .noticia__carta--1 {
    background-image: url(../multimedia/nota-1.jpg);
    background-size: contain;
    background-repeat: no-repeat; }
  .seccion__noticias .noticia__carta .noticia__carta--2 {
    background-image: url(../multimedia/nota-2.jpg);
    background-size: contain;
    background-repeat: no-repeat; }
  .seccion__noticias .noticia__carta .noticia__carta--3 {
    background-image: url(../multimedia/nota-3.jpg);
    background-size: contain;
    background-repeat: no-repeat; }
  @media (min-width: 700px) {
    .seccion__noticias .noticia__carta .noticia__carta--1 {
      background-image: url(../multimedia/img37.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .seccion__noticias .noticia__carta .noticia__carta--2 {
      background-image: url(../multimedia/nota-2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .seccion__noticias .noticia__carta .noticia__carta--3 {
      background-image: url(../multimedia/nota-3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      background-position-y: -3rem; } }
  .seccion__noticias .noticia__carta .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #800e4daf;
    color: #fff;
    padding: 0.5em; }
    .seccion__noticias .noticia__carta .date span {
      display: block;
      text-align: center; }
    .seccion__noticias .noticia__carta .date .day {
      font-weight: 700;
      font-size: 1.2rem;
      text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18); }
  .seccion__noticias .noticia__carta .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3); }
  .seccion__noticias .noticia__carta .title a {
    color: gray; }

.musica {
  background-image: url(../multimedia/fondo4.jpg);
  background-attachment: fixed; }

.musica__columna {
  margin-right: 0.2rem;
  margin-left: 0.2rem; }

.musica__portada__disco {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem; }

.disco__subtitulo {
  font-family: 'Dancing Script', cursive;
  font-size: 4.2rem;
  letter-spacing: .2rem;
  color: #000000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
  text-align: center; }

.musica__portada__bach--estilos {
  background-image: url(../multimedia/bach.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 20rem; }

.musica__fondo__bach--color {
  background: #104bac;
  background: linear-gradient(166deg, rgba(16, 75, 172, 0.853029) 19%, rgba(18, 55, 84, 0.819415) 71%); }

.card-header {
  border-bottom: none; }

.accordion > .card {
  background-color: transparent; }

.accordion > .card > .card-header {
  border-radius: .3rem; }

.musica__2 {
  background: radial-gradient(circle, rgba(252, 101, 78, 0.752188) 15%, #ff3f32 100%);
  background-attachment: fixed; }

.musica__portada__aire--estilos {
  background-image: url(../multimedia/en-el-aire.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 20rem; }

.titulo__cancion__aire--estilos {
  background: #613b45;
  background: linear-gradient(20deg, #613b45 9%, rgba(102, 77, 103, 0.334821) 85%); }

.musica__3 {
  background: #59f290;
  background: radial-gradient(circle, rgba(89, 242, 144, 0.502889) 7%, rgba(112, 108, 107, 0.189163) 39%, rgba(250, 250, 250, 0.928659) 57%); }

.musica__portada__nunca--estilos {
  background-image: url(../multimedia/nunca-estuve-aca.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20rem;
  height: 20rem; }

.titulo__cancion__nunca--estilos {
  background: #706b6d;
  background: linear-gradient(20deg, rgba(112, 107, 109, 0.721376) 47%, rgba(77, 103, 87, 0.208771) 96%); }

.musica__fondo__nunca--color {
  background: #787777;
  background: linear-gradient(20deg, #787777 9%, rgba(158, 154, 158, 0.948267) 85%); }

.disco__aire--estilos {
  color: white; }

.fa-angle-down:before {
  position: absolute;
  right: 1.2rem;
  top: 1rem; }

.card__letra__titulo {
  font-family: "Josefin Sans", sans-serif; }

.titulo__cancion--estilos {
  background-color: rgba(49, 134, 255, 0.95); }

.videoclips .videos__portada--estilos {
  height: 14rem; }

.videoclips .videos__portada--estilos:hover {
  transform: scale(1.02);
  transition: .4s; }

.videoclips .video__carta {
  padding-right: 1.2rem;
  padding-left: 1.2rem; }

.videoclips .videoclips__titulo__video {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: .3rem;
  color: white;
  bottom: 0;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  font-family: "Patua One", sans-serif;
  font-size: 1.5rem; }

.videoclips .videoclips__boton {
  color: rgba(253, 253, 253, 0.65); }

.videoclips .videoclips__boton:hover {
  color: #800e4d9d; }

.videoclips .videos_portada--margenes {
  background-color: black;
  padding: .7rem 0; }

.modal {
  top: 20%; }

@media (min-width: 700px) {
  .modal {
    top: 0; } }

.fechas {
  background: #b46f66;
  background: linear-gradient(7deg, #b46f66 20%, #dca880 40%, #79b4c4 60%, #688a9d 80%);
  background-position: center;
  height: 100%; }
  .fechas .row {
    background-color: rgba(37, 41, 39, 0.5);
    color: white;
    margin-left: .1rem;
    margin-right: .1rem; }
  .fechas .fechas__dia__numero {
    display: flex;
    align-items: center; }
    .fechas .fechas__dia__numero h4 {
      font-family: "Oswald", sans-serif;
      font-size: 2rem;
      margin: 0;
      padding: .3rem; }
  .fechas .fechas__dia__mes {
    display: flex;
    flex-direction: column;
    border-right: 5px solid white;
    padding-right: .4rem;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: .5rem;
    color: rgba(255, 255, 255, 0.65); }
  .fechas .fechas__lugar p {
    margin: 0;
    margin-left: .4rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
    font-weight: bolder; }
  .fechas .btn {
    border: 2px solid white; }
  .fechas .fechas__boton {
    padding: .7rem;
    margin: 1.5rem;
    border-radius: 0.4rem;
    font-size: .9rem;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.65);
    font-weight: bolder; }

.row:hover .fechas__dia__mes {
  color: white;
  transition: all .8s;
  border-right: 5px solid #c41d79e0; }

.row:hover .fechas__lugar p {
  color: white;
  transition: all .5s; }

.row:hover .fechas__boton {
  border: 2px solid #c41d79e0;
  transition: all .8s;
  box-shadow: none;
  color: white;
  background-color: #800e4da1; }

@media (min-width: 700px) {
  .fechas {
    background-image: url(../multimedia/gui-2-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .fechas .fechas__dia__numero {
      display: flex;
      align-items: center; }
      .fechas .fechas__dia__numero h4 {
        font-family: "Oswald", sans-serif;
        font-size: 3.8rem;
        margin: 0;
        padding: .45rem; }
    .fechas .fechas__dia__mes {
      display: flex;
      flex-direction: column;
      border-right: 5px solid white;
      padding-right: 1.4rem;
      font-size: 1.3rem;
      font-weight: bolder;
      margin-left: 1rem;
      color: rgba(255, 255, 255, 0.65); }
    .fechas .fechas__lugar p {
      margin: 0;
      margin-left: 2rem;
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.65);
      font-weight: bolder; }
    .fechas .fechas__boton {
      margin: 1rem; } }

@media (min-width: 1000px) {
  .fechas .fechas__dia__numero {
    display: flex;
    align-items: center; }
    .fechas .fechas__dia__numero h4 {
      font-family: "Oswald", sans-serif;
      font-size: 3.8rem;
      margin: 0;
      padding: .45rem; }
  .fechas .fechas__dia__mes {
    display: flex;
    flex-direction: column;
    border-right: 5px solid white;
    padding-right: 1.4rem;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.65); }
  .fechas .fechas__lugar p {
    margin: 0;
    margin-left: 2rem;
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.65);
    font-weight: bolder; } }

.sepacion__fechas {
  background-image: url(../multimedia/division-arriba.png);
  height: 5rem;
  background-repeat: no-repeat;
  transform: translateY(1.8rem); }

.bandalos__galeria .bandalos__galeria__carta {
  height: 30rem;
  margin: 1rem;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
  filter: grayscale(0.9);
  box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden; }

.bandalos__galeria .bandalos__galeria__carta--1 {
  background-image: url(../multimedia/goy-bandalos.jpg); }

.bandalos__galeria .bandalos__galeria__carta--2 {
  background-image: url(../multimedia/gui-1-bandalos.jpg); }

.bandalos__galeria .bandalos__galeria__carta--3 {
  background-image: url(../multimedia/img13.jpg); }

.bandalos__galeria .bandalos__galeria__carta--4 {
  background-image: url(../multimedia/gui-2-2.jpg); }

.bandalos__galeria .bandalos__galeria__carta--5 {
  background-image: url(../multimedia/chapi3.jpg); }

.bandalos__galeria .bandalos__galeria__carta--6 {
  background-image: url(../multimedia/sax-bandalos.jpg); }

.bandalos__galeria .bandalos__galeria__carta--7 {
  background-image: url(../multimedia/bat4.jpg); }

.bandalos__galeria .bandalos__galeria__carta--8 {
  background-image: url(../multimedia/bandalos-show.jpg);
  background-position: top;
  height: 25rem; }

.bandalos__galeria .bandalos__carta__subtitulo {
  margin-left: 1rem;
  position: absolute;
  top: 70%;
  filter: none; }

.bandalos__galeria h3 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
  filter: drop-shadow(2px 4px 6px black);
  z-index: 999; }

.bandalos__galeria p {
  color: white;
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
  filter: drop-shadow(2px 4px 6px black);
  letter-spacing: .2rem; }

.bandalos__galeria .bandalos__galeria__carta:hover {
  transition: all .3s;
  filter: none;
  transform: scale(1.015); }

.bandalos__galeria .bandalos__subtitulo__desktop {
  display: none; }

@media (min-width: 768px) {
  .bandalos__galeria {
    overflow: hidden; }
    .bandalos__galeria .bandalos__subtitulo__mobile {
      display: none; }
    .bandalos__galeria .bandalos__subtitulo__desktop {
      display: block;
      transform: translateY(10rem);
      transition: all .6s; }
    .bandalos__galeria p {
      transition: all .6s; }
    .bandalos__galeria .bandalos__galeria__carta--8 {
      height: 30rem; }
  .card:hover .bandalos__subtitulo__desktop {
    transform: translateY(0);
    transition: all .6s; }
    .card:hover .bandalos__subtitulo__desktop h3 {
      transition: all .6s;
      color: white; }
  .card:hover p {
    transition: all .6s; } }

img {
  width: 100%; }

.portada {
  height: 90vh;
  background-image: url(../multimedia/img-portada-2.jpg);
  background-size: cover;
  background-position: center; }

@media (min-width: 450px) {
  .portada {
    height: 100vh;
    background-image: url(../multimedia/img38.jpg);
    background-position: center;
    background-attachment: fixed; } }

.portada-bandalos {
  height: 100vh;
  background-image: url(../multimedia/fondo-bandalos-2.jpg);
  background-position: center;
  background-size: cover; }

@media (min-width: 450px) {
  .portada-bandalos {
    background-image: url(../multimedia/nota-1.jpg);
    background-position: top;
    background-attachment: fixed; } }

.portada-musica {
  height: 100vh;
  width: 100%;
  background-image: url(../multimedia/gui-1-7.jpg);
  background-position: center;
  background-size: cover; }

.portada-fechas {
  height: 100vh;
  background-image: url(../multimedia/portada-fechas-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 550px) {
  .portada-fechas {
    background-image: url(../multimedia/img27.jpg);
    height: 100vh; } }

.portada-videoclips {
  height: 100vh;
  background-image: url(../multimedia/goyo-videoclip.jpg);
  background-position: bottom;
  background-size: cover; }

@media (min-width: 600px) {
  .portada-videoclips {
    background-image: url(../multimedia/portadaindex.jpg);
    background-position: center;
    height: 100vh;
    background-attachment: fixed; } }

ul {
  list-style-type: none; }

.background__fixed {
  background-attachment: fixed; }

#galeriaBandalos {
  display: grid;
  grid-template-areas: "goyo     bandalo2    bandalo5" "goyo     bandalo2    bandalo5" "goyo     bandalo4    bandalo5" "bandalo6 bandalo4    bandalo3" "bandalo6 bandalo7    bandalo3" "bandalo6 bandalo7    bandalo3";
  grid-template-columns: 28% 40% auto;
  grid-template-rows: 180px 180px 180px 180px 180px 180px;
  grid-column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 1.5rem;
  background-image: url(../multimedia/fondo4.jpg); }

.imagenItems img {
  height: 100%; }

.bordes {
  border-radius: 15px; }

#bandalo1 {
  grid-area: goyo;
  filter: grayscale(95%);
  background-image: url(../multimedia/goy-bandalos.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo1:hover {
  transition: width 2s, height 2s, transform 1s;
  transform: scale(1.025);
  filter: none;
  cursor: pointer; }

#bandalos1:hover .nombreBandalo {
  opacity: 100%;
  transition: all .5s; }

#bandalo2 {
  grid-area: bandalo2;
  filter: grayscale(95%);
  background-image: url(../multimedia/gui-1-bandalos.jpg);
  background-size: cover;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo2:hover {
  transition: width 2s, height 2s, transform 1s;
  filter: none;
  transform: scale(1.025);
  cursor: pointer; }

#bandalo3 {
  grid-area: bandalo3;
  filter: grayscale(95%);
  background-image: url(../multimedia/img13.jpg);
  background-size: cover;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo3:hover {
  transition: width 2s, height 2s, transform 1s;
  filter: none;
  transform: scale(1.025);
  cursor: pointer; }

#bandalo4 {
  grid-area: bandalo4;
  filter: grayscale(95%);
  background-image: url(../multimedia/gui-2-2.jpg);
  background-size: cover;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo4:hover {
  transition: width 2s, height 2s, transform 1s;
  filter: none;
  transform: scale(1.025);
  cursor: pointer; }

#bandalo5 {
  grid-area: bandalo5;
  filter: grayscale(95%);
  background-image: url(../multimedia/chapi3.jpg);
  background-size: cover;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo5:hover {
  transition: width 2s, height 2s, transform 1s;
  filter: none;
  transform: scale(1.025);
  cursor: pointer; }

#bandalo6 {
  grid-area: bandalo6;
  filter: grayscale(95%);
  background-image: url(../multimedia/sax-bandalos.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo6:hover {
  transition: width 2s, height 2s, transform 1s;
  filter: none;
  transform: scale(1.025);
  cursor: pointer; }

#bandalo7 {
  grid-area: bandalo7;
  filter: grayscale(95%);
  background-image: url(../multimedia/bat4.jpg);
  background-size: cover;
  box-shadow: 20px 20px 20px -15px rgba(0, 0, 0, 0.85); }

#bandalo7:hover {
  transition: width 2s, height 2s, transform 1s;
  filter: none;
  transform: scale(1.025);
  cursor: pointer; }

@media (max-width: 1000px) {
  #galeriaBandalos {
    display: flex;
    flex-direction: column; }
  #bandalo1 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/goy-bandalos.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; }
  #bandalo2 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/gui-1-bandalos.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  #bandalo3 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/img13.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  #bandalo4 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/gui-2-2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  #bandalo5 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/chapi3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  #bandalo6 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/sax-bandalos.jpg);
    background-size: cover;
    background-position: center;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  #bandalo7 {
    height: 30rem;
    margin-bottom: 1.6rem;
    filter: grayscale(95%);
    background-image: url(../multimedia/bat4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; } }

.seccion__carousel {
  background: #b46f66;
  background: linear-gradient(3.5deg, #da3050e8 20%, #dc3856 60%, #da3050 80%);
  padding: 5rem 0 2.7rem 0; }

.seccion__carousel--foto {
  width: 100%; }

#sin__senal {
  background-image: url(../multimedia/fondo4.jpg);
  padding: 0 3rem 3rem 3rem; }

.reproductor__inicio__img--estilos {
  border-radius: 12px; }
  .reproductor__inicio__img--estilos img {
    border-radius: 12px;
    -webkit-box-shadow: 15px 15px 33px -15px rgba(49, 28, 28, 0.85);
    -moz-box-shadow: 15px 15px 33px -15px rgba(0, 0, 0, 0.85);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
    max-height: 28rem; }
  .reproductor__inicio__img--estilos img:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    transition: .3s; }
  .reproductor__inicio__img--estilos .reproductor__inicio__img--estilos:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    transition: .3s; }
  @media (min-width: 790px) {
    .reproductor__inicio__img--estilos img:hover {
      box-shadow: 15px 15px 33px -15px rgba(0, 0, 0, 0.85);
      transform: scale(1.02);
      transition: .3s; }
      .reproductor__inicio__img--estilos img:hover .reproductor__inicio__boton__play {
        transform: scale(1.15); }
    .reproductor__inicio__img--estilos .reproductor__inicio__boton__play:hover {
      transform: scale(1.15); } }

.reproductor__inicio__boton__play {
  position: absolute;
  color: rgba(0, 0, 0, 0.81); }

.reproductor__inicio__boton__play:hover {
  transform: scale(1.1);
  transition: .5s;
  color: rgba(0, 0, 0, 0.85); }

.sin__señal__texto {
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 1200px) {
  .sin__señal__texto {
    align-items: flex-start; } }

.sin__señal__titulo {
  font-family: 'Patua One', cursive;
  font-size: 4.3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562); }

.sin__señal__subtitulo {
  font-family: 'Dancing Script', cursive;
  font-size: 3.8rem;
  letter-spacing: .2rem;
  -webkit-text-stroke: 1px #e16379;
  color: #dd3957;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
  transform: rotate(356deg) translateY(-2.1rem); }

@media (min-width: 1200px) {
  .sin__señal__titulo {
    font-size: 5rem; }
  .sin__señal__subtitulo {
    font-size: 5rem;
    transform: rotate(356deg) translateY(-3rem) translateX(25px); } }

.sin__señal_subtitulo__boton {
  transform: translateY(-2rem); }

@media (min-width: 1200px) {
  .sin__señal_subtitulo__boton {
    transform: translateY(-2rem) translateX(2rem); } }

.separacion__arriba__sinseñal {
  background-image: url(../multimedia/division-abajo.png);
  height: 4rem;
  background-position: inherit;
  transform: translateY(-3rem);
  background-repeat: no-repeat; }

.separacion__arriba--estilo {
  background-image: url(../multimedia/division-abajo.png);
  height: 4rem;
  background-position: inherit;
  transform: translateY(-3rem) rotateY(180deg);
  background-repeat: no-repeat; }

.separacion__abajo__sinseñal {
  background-image: url(../multimedia/division-arriba.png);
  height: 3.5rem;
  background-position: bottom;
  transform: translateY(3rem);
  background-repeat: no-repeat; }

.separacion__abajo--estilo {
  background-image: url(../multimedia/division-arriba.png);
  height: 5rem;
  background-repeat: no-repeat;
  transform: translateY(-0.5rem); }

.subtitulo__pag__bandalos {
  width: 100%;
  height: 6rem;
  background-image: url(../multimedia/fondo4.jpg); }

.subtitulo__pag__bandalos--estilos {
  font-family: 'Patua One', sans-serif;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  color: #a21d98b8;
  text-shadow: 2.5px 2px 2px #17c5e0f0;
  text-align: center;
  transform: translateY(4rem); }

@media (min-width: 600px) {
  .subtitulo__pag__bandalos--estilos {
    font-size: 3.2rem; } }

@media (min-width: 1000px) {
  .subtitulo__pag__bandalos--estilos {
    font-size: 4rem; } }

.seccion__bandalos__botones {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-image: url(../multimedia/fondo4.jpg);
  height: 12em; }

.bandalos__botones--estilos {
  border-radius: 2rem;
  background-image: url(../multimedia/fondo3.png);
  background-position: inherit;
  background-size: cover;
  box-shadow: 4px 0px 7px 0px #8b9799f0;
  color: white;
  font-weight: bold;
  font-size: 1.1rem; }

.bandalos__botones--estilos:hover {
  transform: scale(1.1);
  color: white;
  transition: .3s; }

@media (min-width: 700px) {
  .seccion__bandalos__botones {
    justify-content: center; }
  .bandalos__botones--estilos {
    margin: 0 2rem; }
  .bandalos__botones--estilos {
    font-size: 1.4rem;
    padding: 1.2rem;
    width: 15rem; } }

#letra-china-bandalos {
  background-color: teal; }

.noticias {
  background-image: url(../multimedia/fondo4.jpg); }
  .noticias .card .card-body .card-text {
    font-size: .9rem;
    font-weight: 400;
    color: #181818; }
  .noticias .noticias__nota__info {
    background-color: #faebd72b; }
  .noticias .card-title {
    color: #444447;
    font-size: 1rem;
    font-family: initial; }

.noticias__botones--estilos {
  border-radius: 0.4rem;
  background-image: url(../multimedia/fondo3.png);
  background-position: center;
  background-size: cover;
  box-shadow: 4px 0px 7px 0px #8b9799f0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1rem; }

.noticias__botones--estilos:hover {
  transform: scale(1.1);
  color: white;
  transition: .3s; }

.btn {
  padding: .84rem 1.55rem; }
