.bandalos__galeria{
    .bandalos__galeria__carta{
        height: 30rem;
        margin: 1rem;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        cursor: pointer;
        filter: grayscale(.9);
        box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }
    .bandalos__galeria__carta--1{
        background-image: url(../multimedia/goy-bandalos.jpg);
        
    }
    .bandalos__galeria__carta--2{
        background-image: url(../multimedia/gui-1-bandalos.jpg);
        
    }
    .bandalos__galeria__carta--3{
        background-image: url(../multimedia/img13.jpg);
        
    }
    .bandalos__galeria__carta--4{
        background-image: url(../multimedia/gui-2-2.jpg);
        
    }
    .bandalos__galeria__carta--5{
        background-image: url(../multimedia/chapi3.jpg);
        
    }
    .bandalos__galeria__carta--6{
        background-image: url(../multimedia/sax-bandalos.jpg); 
    }
    .bandalos__galeria__carta--7{
        background-image: url(../multimedia/bat4.jpg);
    }
    .bandalos__galeria__carta--8{
        background-image: url(../multimedia/bandalos-show.jpg);
        background-position: top;
        height: 25rem;
    }

    .bandalos__carta__subtitulo{
       margin-left: 1rem;
       position: absolute;
       top: 70%;
       filter: none;
    }
    
    h3{
        font-family: $open-sans;
        color: white;
        font-size: 2.5rem; 
        font-weight: bolder;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
        filter: drop-shadow(2px 4px 6px black);
        z-index: 999;
    }
    p{
        color: white;
        font-size:1.1rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
        filter: drop-shadow(2px 4px 6px black);
        letter-spacing: .2rem;
    }
    .bandalos__galeria__carta:hover{
        transition:all .3s;
        filter: none;
        transform: scale(1.015);
    }
    .bandalos__subtitulo__desktop{
        display: none;
    }
}

@media (min-width:768px){

    .bandalos__galeria{
        overflow: hidden;

        .bandalos__subtitulo__mobile{
            display: none;
        }
        .bandalos__subtitulo__desktop{
            display: block;
            transform: translateY(10rem); 
            transition: all .6s;
        }
        p{
            
            transition:all .6s;
        }
        .bandalos__galeria__carta--8{
            height: 30rem;
        }
    }
    .card:hover{
        .bandalos__subtitulo__desktop{
            transform: translateY(0);
            transition: all .6s;
            h3{
            transition:all .6s;
            color: white;
            } 
        }
        
        p{
            transition:all .6s;
        }
    }
    
}
