.fechas{
    background: rgb(180,111,102);
    background: linear-gradient(7deg, rgba(180,111,102,1) 20%, rgba(220,168,128,1) 40%, rgba(121,180,196,1) 60%, rgba(104,138,157,1) 80%);
    background-position: center;
    height: 100%;
    .row{
        background-color: rgba(37, 41, 39, 0.5);
        color: white;
        margin-left: .1rem;
        margin-right: .1rem; 
    }
    
    .fechas__dia__numero{
        display: flex;
        align-items: center;
       h4{
           font-family: "Oswald", sans-serif;
           font-size: 2rem;
           margin: 0;
           padding: .3rem;
       }
    }
    .fechas__dia__mes{
       display: flex;
       flex-direction: column;
       border-right: 5px solid white;
       padding-right: .4rem;
       font-size: 1rem;
       font-weight:bolder ;
       margin-left: .5rem;
       color: rgba(255, 255, 255, .65);
    }
    .fechas__lugar{
       p{
        margin: 0; 
        margin-left: .4rem;
        font-size: 1rem;
        color: rgba(255, 255, 255, .65);
        font-weight:bolder;        
       }
    }
    .btn{
        border: 2px solid white;
    }
    .fechas__boton{
        padding: .7rem ;
        margin: 1.5rem;
        border-radius: 0.4rem;
        font-size: .9rem;
        box-shadow: none; 
        color: rgba(255, 255, 255, .65);
        font-weight: bolder;
    }
}

.row:hover{
    .fechas__dia__mes{
        color: white;
        transition: all .8s;
        border-right: 5px solid $color__navitem;
    }
    .fechas__lugar{
        p{
            color: white;
            transition: all .5s;
        }
    }
    .fechas__boton{
        border: 2px solid $color__navitem;
        transition: all .8s;
        box-shadow: none;
        color: white;
        background-color: #800e4da1;
    }  
}

@media (min-width:700px){
    .fechas{
        background-image: url(../multimedia/gui-2-3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .fechas__dia__numero{
            display: flex;
            align-items: center;
           h4{
               font-family: "Oswald", sans-serif;
               font-size: 3.8rem;
               margin: 0;
               padding: .45rem;
           }
        }
        .fechas__dia__mes{
            display: flex;
            flex-direction: column;
            border-right: 5px solid white;
            padding-right: 1.4rem;
            font-size: 1.3rem;
            font-weight:bolder ;
            margin-left: 1rem;
            color: rgba(255, 255, 255, .65);
         }
         .fechas__lugar{
            p{
             margin: 0; 
             margin-left: 2rem;
             font-size: 1.5rem;
             color: rgba(255, 255, 255, .65);
             font-weight:bolder;        
            }
         }
         .fechas__boton{
             margin: 1rem;
         }
    }
}

@media (min-width:1000px){
    .fechas{
        .fechas__dia__numero{
            display: flex;
            align-items: center;
           h4{
               font-family: "Oswald", sans-serif;
               font-size: 3.8rem;
               margin: 0;
               padding: .45rem;
           }
        }
        .fechas__dia__mes{
            display: flex;
            flex-direction: column;
            border-right: 5px solid white;
            padding-right: 1.4rem;
            font-size: 1.3rem;
            font-weight:bolder ;
            margin-left: 1rem;
            color: rgba(255, 255, 255, .65);
         }
         .fechas__lugar{
            p{
             margin: 0; 
             margin-left: 2rem;
             font-size: 2.2rem;
             color: rgba(255, 255, 255, .65);
             font-weight:bolder;        
            }
         }
         
    }
}

.sepacion__fechas{
    background-image: url(../multimedia/division-arriba.png);
    height: 5rem;
    background-repeat: no-repeat;
    transform: translateY(1.8rem);
}