.icono-footer{
    color:white;
    font-size: 2.5rem;
}

.icono-facebook:hover{
    color: #3b5998;
    transform: scale(1.2);
    transition: .3s;
}
.icono-spotify:hover{
    color: #1DB954;
    transform: scale(1.2);
    transition: .3s;
}
.icono-instagram:hover{
    color:  #c13584;
    transform: scale(1.2);
    transition: .3s;
}
.icono-twitter:hover{
    color: #00acee;
    transform: scale(1.2);
    transition: .3s;
}
.icono-youtube:hover{
    color: #c4302b;
    transform: scale(1.2);
    transition: .3s;
}

#footer a{
    color: whitesmoke;
    font-family: "Inconsolata", sans-serif;
    font-size: bolder;
}
 
#footer a:hover{
    color: white;
    transform: scale(1.025);
    
}

.footer--estilo{
    background-color: $color__navitem__hover;
}