.icono-footer{
    color:white;
    font-size: 2.5rem;
}

.icono-facebook:hover{
    color: #3b5998;
    transform: scale(1.2);
    transition: .6s;
}
.icono-spotify:hover{
    color: #1DB954;
    transform: scale(1.2);
    transition: .6s;
}
.icono-instagram:hover{
    color:  #c13584;
    transform: scale(1.2);
    transition: .6s;
}
.icono-twitter:hover{
    color: #00acee;
    transform: scale(1.2);
    transition: .6s;
}
.icono-youtube:hover{
    color: #c4302b;
    transform: scale(1.2);
    transition: .6s;
}

#footer a{
    color: whitesmoke;
}