
.musica{
    background-image: url(../multimedia/fondo4.jpg);
    background-attachment: fixed;
    
}

.musica__portada__disco{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    
    .disco__subtitulo{
        font-family: 'Dancing Script', cursive;
        font-size: 4.2rem;
        letter-spacing: .2rem;
        /*
        -webkit-text-stroke: 1px #63afe1;*/
        color: #000000; 
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
         
    }
    
    .musica__portada__bach--estilos{
            background-image: url(../multimedia/bach.jpg) ;
            background-repeat: no-repeat;
            background-size: contain;
            width: 20rem;
            height: 20rem;
            
        }
.card-header{
    border-bottom: none;
}

.accordion>.card{
    background-color: transparent;
}


.musica__2{
    
    background: radial-gradient(circle, rgba(252,101,78,0.75218837535014) 15%, rgba(255,63,50,1) 100%);
    background-attachment: fixed;
}

.musica__portada__aire--estilos{
    background-image: url(../multimedia/en-el-aire.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 20rem;
    
}

.disco__aire--estilos{
    color: white;
}







.fa-angle-down:before{
    position: absolute;
    right: 1.2rem;
    top: 1rem; 
}

.card__letra__titulo{
   font-family: "Josefin Sans", sans-serif ; 
}

.titulo__cancion--estilos{
    
    background: linear-gradient(0deg, rgba(249,121,85,0.4944852941176471) 5%, rgba(49,134,255,1) 32%);
}


.rgba-grey-light{
    background: rgb(16,75,172);
background: linear-gradient(166deg, rgba(16,75,172,0.8530287114845938) 19%, rgba(18,55,84,0.8194152661064426) 71%);
}
