
.musica{
    background-image: url(../multimedia/fondo4.jpg);
    background-attachment: fixed;
    
}

.musica__portada__disco{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    
    .disco__subtitulo{
        font-family: 'Dancing Script', cursive;
        font-size: 4.2rem;
        letter-spacing: .2rem;
        /*
        -webkit-text-stroke: 1px #63afe1;*/
        color: #000000; 
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
         
    }
    
    .musica__portada__bach--estilos{
            background-image: url(../multimedia/bach.jpg) ;
            background-repeat: no-repeat;
            background-size: contain;
            width: 20rem;
            height: 20rem;
            
        }
    .musica__fondo__bach--color{
        background: rgb(16,75,172);
        background: linear-gradient(166deg, rgba(16,75,172,0.8530287114845938) 19%, rgba(18,55,84,0.8194152661064426) 71%);
    }

.card-header{
    border-bottom: none;
    
}

.accordion>.card{
    background-color: transparent;
    
}

.accordion>.card>.card-header{
    border-radius: .3rem;
}


.musica__2{
    
    background: radial-gradient(circle, rgba(252,101,78,0.75218837535014) 15%, rgba(255,63,50,1) 100%);
    background-attachment: fixed;
}

.musica__portada__aire--estilos{
    background-image: url(../multimedia/en-el-aire.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 20rem;
}

.titulo__cancion__aire--estilos{
    background: rgb(97,59,69);
    background: linear-gradient(20deg, rgba(97,59,69,1) 9%, rgba(102,77,103,0.3348214285714286) 85%);

}


.musica__3{
    background: rgb(89,242,144);
    background: radial-gradient(circle, rgba(89,242,144,0.5028886554621849) 7%, rgba(112,108,107,0.18916316526610644) 39%, rgba(250,250,250,0.9286589635854342) 57%);
   
}

.musica__portada__nunca--estilos{
    background-image: url(../multimedia/nunca-estuve-aca.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 20rem;
    
}

.titulo__cancion__nunca--estilos{
    background: rgb(112,107,109);
    background: linear-gradient(20deg, rgba(112,107,109,0.7213760504201681) 47%, rgba(77,103,87,0.20877100840336138) 96%);


}

.musica__fondo__nunca--color{
    background: rgb(120,119,119);
    background: linear-gradient(20deg, rgba(120,119,119,1) 9%, rgba(158,154,158,0.948266806722689) 85%);


}

.disco__aire--estilos{
    color: white;
}


.fa-angle-down:before{
    position: absolute;
    right: 1.2rem;
    top: 1rem; 
}

.card__letra__titulo{
   font-family: "Josefin Sans", sans-serif ; 
}

.titulo__cancion--estilos{
    background-color: rgba(49,134,255,.95);
}





