$color__navitem: #c41d79e0;
$color__navitem__hover:#800e4ce0;

$box__shadow:20px 20px 20px -15px rgba(0,0,0,0.85);  

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #249abebd;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans', sans-serif;
