.videoclips{
    .videos__portada--estilos{
        height: 14rem;
        
    }
    .videos__portada--estilos:hover{
        transform: scale(1.02);
        transition: .4s;
    }
    .video__carta{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .videoclips__titulo__video{
        position: absolute;
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        padding: .3rem;
        color: white;
        bottom: 0;
        margin-bottom: 0.8rem;  
        text-transform: uppercase;
        font-family: "Patua One", sans-serif;
        font-size: 1.5rem;
    }
    .videoclips__boton{
        color:  rgba(253, 253, 253, 0.65);
    }
    .videoclips__boton:hover{
        color:#800e4d9d;
    }
    .videos_portada--margenes{
        background-color: black;
        padding: .6rem 0 ;
    }
    
}

.modal{
    top: 20%;
}

@media (min-width:700px){
    .modal{
        top: 0;
    }
}