@import "variables"; 
@import "header";
@import "tipografias";
@import "footer"; 
@import "seccion__noticias";
@import "musica";
@import "video";
@import "fechas";

img{
    width: 100%;
}

.portada{
    height: 90vh;
    background-image: url(../multimedia/img-portada-2.jpg);
    background-size:cover;
    background-position: center;
}
@media (min-width:450px){
    .portada{
        height: 100vh;
        background-image: url(../multimedia/img38.jpg);
        background-position: center;
        background-attachment: fixed;
    }
}

.portada-bandalos{
    height: 100vh;
    background-image: url(../multimedia/fondo-bandalos-2.jpg);
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

@media (min-width:450px){
    .portada-bandalos{
        background-image:url(../multimedia/nota-1.jpg) ;
        background-position: top;
    }
}

.portada-musica{
    height: 100vh;
    width: 100%;
    background-image: url(../multimedia/gui-1-7.jpg);
    background-position:center;
    background-size:cover ;
    background-attachment: fixed;
}

.portada-fechas{
    
    height: 100vh;
    background-image: url(../multimedia/portada-fechas-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width:550px){
    .portada-fechas{
        background-image: url(../multimedia/img27.jpg);
        height: 100vh;
    }
}

.portada-noticias{
    height: 100vh;
    background-image: url(../multimedia/img36.jpg);
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
}

.portada-videoclips{
    height: 100vh;
    background-image: url(../multimedia/goyo-videoclip.jpg);
    background-position: bottom;
    background-size:cover ;
    background-attachment: fixed;
}

@media (min-width:600px){
    .portada-videoclips{
        background-image: url(../multimedia/portadaindex.jpg);
        background-position: center;
        height: 100vh;
    }
}




ul{
    list-style-type: none;
}


.background__fixed{
    background-attachment: fixed;
}



#galeriaBandalos{
    display: grid;
    grid-template-areas: 
    "goyo     bandalo2    bandalo5"
    "goyo     bandalo2    bandalo5"
    "goyo     bandalo4    bandalo5"
    "bandalo6 bandalo4    bandalo3"
    "bandalo6 bandalo7    bandalo3"
    "bandalo6 bandalo7    bandalo3"
    
    ;
    grid-template-columns: 28% 40% auto;
    grid-template-rows: 180px 180px 180px 180px 180px 180px;
    grid-column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 1.5rem;
    background-image:
        url(../multimedia/fondo4.jpg);
    }


.imagenItems img{
    height: 100%; 
}

.bordes {
    border-radius: 15px;
}

#bandalo1{
    grid-area: goyo;
    filter: grayscale(95%);
    background-image: url(../multimedia/goy-bandalos.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box__shadow;
}
#bandalo1:hover{
    transition: width 2s, height 2s, transform 1s;
    transform: scale(1.025);
    filter: none;
    cursor: pointer;
}
#bandalos1:hover  .nombreBandalo{
    opacity: 100%;
    transition: all .5s;
}

#bandalo2{
    grid-area: bandalo2;
    filter: grayscale(95%);
    background-image: url(../multimedia/gui-1-bandalos.jpg);
    background-size: cover;
    box-shadow: $box__shadow;
}
#bandalo2:hover{
    transition: width 2s, height 2s, transform 1s;
    filter: none;
    transform: scale(1.025);
    cursor: pointer;
}
#bandalo3{
    grid-area: bandalo3;
    filter: grayscale(95%);
    background-image: url(../multimedia/img13.jpg);
    background-size: cover;
    box-shadow: $box__shadow;
}
#bandalo3:hover{
    transition: width 2s, height 2s, transform 1s;
    filter: none;
    transform: scale(1.025);
    cursor: pointer;
}
#bandalo4{
    grid-area: bandalo4;
    filter: grayscale(95%);
    background-image: url(../multimedia/gui-2-2.jpg);
    background-size: cover;
    box-shadow: $box__shadow;
}
#bandalo4:hover{
    transition: width 2s, height 2s, transform 1s;
    filter: none;
    transform: scale(1.025);
    cursor: pointer;
}
#bandalo5{
    grid-area: bandalo5;
    filter: grayscale(95%);
    background-image: url(../multimedia/chapi3.jpg);
    background-size: cover;
    box-shadow: $box__shadow;
}
#bandalo5:hover{
    transition: width 2s, height 2s, transform 1s;
    filter: none;
    transform: scale(1.025);
    cursor: pointer;
}
#bandalo6{
    
    grid-area: bandalo6;
    filter: grayscale(95%);
    background-image: url(../multimedia/sax-bandalos.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: $box__shadow;
}
#bandalo6:hover{
    transition: width 2s, height 2s, transform 1s;
    filter: none;
    transform: scale(1.025);
    cursor: pointer;
}
#bandalo7{
    
    grid-area: bandalo7;
    filter: grayscale(95%);
    background-image: url(../multimedia/bat4.jpg);
    background-size: cover;
    box-shadow: $box__shadow;
}
#bandalo7:hover{
    transition: width 2s, height 2s, transform 1s;
    filter: none;
    transform: scale(1.025);
    cursor: pointer;
}

@media (max-width:1000px){
    #galeriaBandalos{
        display: flex;
        flex-direction: column;
    }
    #bandalo1{
        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/goy-bandalos.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bandalo2{
        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/gui-1-bandalos.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bandalo3{
        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/img13.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bandalo4{
        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/gui-2-2.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bandalo5{
        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/chapi3.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bandalo6{

        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/sax-bandalos.jpg);
        background-size: cover;
        background-position: center;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bandalo7{

        height: 30rem;
        margin-bottom: 1.6rem;
        filter: grayscale(95%);
        background-image: url(../multimedia/bat4.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.seccion__carousel{  
    background: rgb(180,111,102);
    background: linear-gradient(3.5deg, #8f2b3de6  20%,#dca880 40%, #c49179d6 60%, #c49579 80%);
    padding: 5rem 0;
}

.seccion__carousel--foto{
    width: 100%;
}


#sin__senal{
    background-image:
        url(../multimedia/fondo4.jpg);
        padding: 0 3rem 3rem 3rem; 
}

.reproductor__inicio__img--estilos{
    border-radius:12px ;
        img{
            border-radius: 12px;
            -webkit-box-shadow: 15px 15px 33px -15px rgba(49, 28, 28, 0.85);
            -moz-box-shadow: 15px 15px 33px -15px rgba(0,0,0,0.85);
            box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5); 
            min-height: 16rem;
        }
        img:hover{
            box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.3);   
            transform: scale(1.01);
            transition: .3s;
        }
        .reproductor__inicio__img--estilos:hover{
            box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.3);
            transform: scale(1.01);
            transition: .3s;
        }
        @media (min-width:790px) {
            img:hover{
                
                box-shadow: 15px 15px 33px -15px rgba(0,0,0,0.85);     
                transform: scale(1.02);
                transition: .3s;
            
                .reproductor__inicio__boton__play{
                transform: scale(1.15);
                }
            }
            .reproductor__inicio__boton__play:hover{
                transform: scale(1.15);
            }   
        }

    }


    .reproductor__inicio__boton__play{
        position: absolute;
        color: rgba(0, 0, 0, 0.81);
    }
    .reproductor__inicio__boton__play:hover{
        transform: scale(1.1);
        transition: .5s;
        color: rgba(0,0,0,0.85);
    }        


.sin__señal__texto{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    @media (min-width:1200px){
    .sin__señal__texto{
        align-items: flex-start;
    }

}


.sin__señal__titulo{
    font-family: 'Patua One', cursive;
    font-size: 4.3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
}

.sin__señal__subtitulo{
   font-family: 'Dancing Script', cursive;
    font-size: 3.8rem;
    letter-spacing: .2rem;
    -webkit-text-stroke: 1px #e16379;
    color: #dd3957; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
    transform: rotate(356deg) translateY(-2.1rem);   
}

@media (min-width:1200px){
        .sin__señal__titulo{
            font-size: 5rem;
            
        }

        .sin__señal__subtitulo{
            font-size: 5rem;
            transform: rotate(356deg) translateY(-3rem) translateX(25px)
        }
    }



.sin__señal_subtitulo__boton{
    transform: translateY(-2rem);
}
@media (min-width:1200px){
    .sin__señal_subtitulo__boton{
        transform: translateY(-2rem) translateX(2rem);
    }
}



.separacion__arriba__sinseñal{
    background-image: url(../multimedia/division-abajo.png);
    height: 4rem;
    background-position: inherit;
    transform: translateY(-3rem) ;
    background-repeat: no-repeat;
}

.separacion__arriba--estilo{
    background-image: url(../multimedia/division-abajo.png);
    height: 4rem;
    background-position: inherit;
    transform: translateY(-3rem) rotateY(180deg);
    background-repeat: no-repeat;
}

.separacion__abajo__sinseñal{
    background-image: url(../multimedia/division-arriba.png) ;
    height: 3.5rem;
    background-position: bottom;
    transform: translateY(3rem);
    background-repeat: no-repeat;
}

.separacion__abajo--estilo {
  background-image: url(../multimedia/division-arriba.png) ;
  height: 5rem;
  background-repeat: no-repeat;
  transform: translateY(-.5rem);
}

.subtitulo__pag__bandalos{
    width: 100%;
    height: 6rem;
    background-image:
        url(../multimedia/fondo4.jpg);
}


.subtitulo__pag__bandalos--estilos{
    font-family: 'Patua One', sans-serif;
    font-size: 2.4rem;
    letter-spacing: .2rem;
    color: #a21d98b8;
    text-shadow: 2.5px 2px 2px #17c5e0f0 ; 
    text-align: center;
    transform: translateY(4rem);
    
}

@media (min-width:600px){
    .subtitulo__pag__bandalos--estilos{
        font-size:3.2rem;
    }
}
@media (min-width:1000px){
    .subtitulo__pag__bandalos--estilos{
        font-size:4rem;
    }
}


.seccion__bandalos__botones{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
    background-image:
        url(../multimedia/fondo4.jpg);
    height: 12em;
}

.bandalos__botones--estilos{
    
    border-radius: 2rem;
    background-image: url(../multimedia/fondo3.png);
    background-position: inherit;
    background-size: cover;
    box-shadow: 4px 0px 7px 0px #8b9799f0;
    color: white;
    font-weight:bold;
    font-size:1.1rem;
    
}
.bandalos__botones--estilos:hover{
    transform: scale(1.1);
    color:white;
    transition: .3s;
}

@media (min-width:700px){
    .seccion__bandalos__botones{
        justify-content: center;
        
    }
    .bandalos__botones--estilos{
        margin: 0 2rem;
    }
    .bandalos__botones--estilos{
        font-size:1.4rem ;
        padding: 1.2rem;
        width: 15rem;
    }
}

#letra-china-bandalos{
    background-color: teal;
}

.noticias{
    background-image: url(../multimedia/fondo4.jpg);
    .card .card-body .card-text {
    font-size: .9rem;
    font-weight: 400;
    color:  rgb(24, 24, 24);
    }
    .noticias__nota__info{
        background-color: #faebd72b;
    }
    .card-title{
        color:  rgb(68, 68, 71);
        font-size: 1rem;
        font-family:initial; 
    }
    
}


.noticias__botones--estilos{
    border-radius: 0.4rem;
    background-image: url(../multimedia/fondo3.png);
    background-position: center;
    background-size: cover;
    box-shadow: 4px 0px 7px 0px #8b9799f0;
    color: white;
    font-weight:bold;
    font-size:1rem;
    letter-spacing: 0.1rem;
}
.noticias__botones--estilos:hover{
    transform: scale(1.1);
    color:white;
    transition: .3s;
}

.btn{
    padding: .84rem 1.55rem;
}








